@import "tailwindcss";

#body {
    @apply border border-2;
    border: 1px solid #2A1F5C;
}

.whitebody {
    background-color: white;
    color: black;
}

.darkbody {
    background-color: #020617;
    color: white;

}

.heading {
    gap: 20%;
}

.menuIcon {
    display: none;
    font-size: 30px;
    border: none;
    background: none;
    cursor: pointer;
}

.middleheading {
    gap: 20%;

    a:hover {
        cursor: pointer;
        text-decoration: blue underline;
        color: blue;
    }
}

.intro {
    gap: 50%;
    margin-top: 10px;
}

.downloadbtn {
    button{
        @apply border border-2 p-3 rounded-xl ml-2
    }
}

/* About */
.about{
    li{
        @apply flex gap-2 m-4
    }
    i{
        @apply text-blue-700
    }
}

.techList {
    display: flex;
    justify-content: space-between;
    list-style: none;
    flex-wrap: wrap;
    padding: 0;
}

.techList li {
    border: 1px solid #2A1F5C;
    border-radius: 15px;
    padding: 15px 20px;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
}

.techList li:hover {
    transform: translateY(-5px);
    border-color: #6D4AFF;
}

.expApp {
    @apply border border-blue-700 rounded-xl p-4;
}

.projectsList {
    article {
        @apply p-7 rounded-2xl bg-slate-900;
    }
}




/* Mobile view */
/* @media screen and (max-width: 768px) {

    .middleheading {
        display: none;
    }

    .menuIcon {
        display: block;
    }

    .heading {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
} */