@import "tailwindcss";

.darkbody {
    background-color: #030924;
    color: white;
}
.whitebody {
   @apply bg-white text-black;
    background-color: white;
    color: black;
}
.menuIcon {
    @apply md:hidden flex justify-end;
    /* display: none; */
    font-size: 30px;
    border: none;
    background: none;
    cursor: pointer;
}
.desktopmenu {
    @apply md:flex hidden gap-20 ;
    a{
        @apply hover:cursor-pointer hover:text-blue-800 hover:underline ;
    }
}

.intro {
    gap: 50%;
    margin-top: 10px;
}

.downloadbtn {
    button{
        @apply border border-2 p-3 rounded-xl ml-2
    }
}
#aboutme{
    li{
        @apply flex gap-2 m-4
    }
    i{
        @apply text-blue-700
    }
}

.techList {
    display: flex;
    justify-content: space-between;
    list-style: none;
    flex-wrap: wrap;
    gap: 5px;
}

.techList li {
    border: 1px solid #2A1F5C;
    border-radius: 15px;
    padding: 15px 20px;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
    margin: auto;
}

.techList li:hover {
    transform: translateY(-5px);
    border-color: #6D4AFF;
}
.expApp {
    @apply border border-blue-700 rounded-xl p-4;
}
.projectsList {
    article {
        @apply p-7 rounded-2xl bg-slate-900;
    }
}



